body{
  margin:0px;
}

.admin-login{
  text-align: center;
  padding:75px 0px;
}

  .topnav {

  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color:  #33d9b2;
  color: white;
}

.footer{
  
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding:10px;
  font-size: 18px;
}
.home-img img{
  width:100%;
  height:300px;
  object-fit:cover;
}
.foot{
  padding:10px;
  font-size: 18px;
}
.header1 h2{
  margin-top: 0px;
  margin-bottom: 0px;
  
  padding: 20px 10px;
  width: 100%;
  background-color:#cd84f1;
  color: white;
  text-align: left;
}
.abtbox{
  color:black;
  padding:50px 50px;
}


/* Add padding to containers */
.container {
  text-align: center;
  border-radius:5px;
  padding: 2px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] ,input[type=email],input[type=username],
input[type=file],select,textarea,input[type="number"]{
  width: 35%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password],input[type=email],input[type=username]:focus,input[type=file]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #33d9b2;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}




/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}


.prow {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.pcolumn {
  padding: 10px;
}

/* Create four equal columns that floats next to each other */
.pcolumn {
  display: inline-block;
  width: 20%;
}


/* Content */
.pcontent {
  background-color: #d1d8e0;
  padding: 20px;
  
}


.page-content{
  padding: 40px;
}

.agri{

  padding-top: 20px;
  padding-bottom: 40px;
}
img.smallimg{
  height:100px;
  width:auto;
}
.productlisting{
  width:100%;
  border-collapse: collapse;
}
.productlisting th{
  color:#fff;
  background: #3f0380;
  padding: 3px 10px;
  font-size: 20px;
}
.productlisting td{
  padding: 3px 10px;
}
a.btn{
  color:#fff;

  background: #3f0380;
  padding: 7px 20px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 18px;
}
.imagoutrblock img{
  display: inline-block;
  vertical-align: top;
  margin-bottom: 15px;
}
.imagoutrblock .changeimageblock{
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}
